# Collecting Data Using APIs

 In this notebook, we will:

1. Collect job data from Jobs API
2. Store the collected data into an excel spreadsheet.

We are going to determine the number of jobs currently open for various technologies and for various locations

First, we will collect the number of job postings for the following locations using the API:

A. Los Angeles

B. New York

C. San Francisco

D. Washington DC

E. Seattle

F. Austin

G. Detroit

In [2]:
#We import required libraries

import pandas as pd
import requests

In [17]:
# Define API URL
api_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01"

# Define function
def get_number_of_jobs_T_L(technology, location):
    
    response_api = requests.get(api_url)
    
    number_of_jobs = 0
    
    if response_api.ok:
        jobs = response_api.json()
        
        for job in jobs:
            key = job.get('Key Skills', '')
            loc = job.get('Location', '')
            
            # Checking both technology and location match
            if (technology.lower() in key.lower()) and (location.lower() in loc.lower()):
                number_of_jobs = number_of_jobs + 1
                
        
    return technology, location, number_of_jobs

Calling the function for Python and checking if it works.

In [18]:
# Define list of locations
locations = ['Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit']

# Define list of technologies
technologies = ['Python', 'Java', 'SQL', 'AWS']

# Prepare empty list to collect results
results = []

# Loop through all combinations
for tech in technologies:
    for loc in locations:
        tech_loc_jobs = get_number_of_jobs_T_L(tech, loc)
        results.append(tech_loc_jobs)

# Convert to dataframe
df_jobs = pd.DataFrame(results, columns=['Technology', 'Location', 'Number of Jobs'])

# Save to Excel
df_jobs.to_excel('Job_Postings.xlsx', index=False)

# Display DataFrame
df_jobs

   Technology       Location  Number of Jobs
0      Python    Los Angeles              24
1      Python       New York             143
2      Python  San Francisco              17
3      Python  Washington DC             258
4      Python        Seattle             133
5      Python         Austin              15
6      Python        Detroit             170
7        Java    Los Angeles              64
8        Java       New York             417
9        Java  San Francisco              49
10       Java  Washington DC             663
11       Java        Seattle             462
12       Java         Austin              41
13       Java        Detroit             471
14        SQL    Los Angeles              65
15        SQL       New York             417
16        SQL  San Francisco              54
17        SQL  Washington DC             628
18        SQL        Seattle             397
19        SQL         Austin              53
20        SQL        Detroit             446
21        AWS    Los Angeles               6
22        AWS       New York              34
23        AWS  San Francisco               6
24        AWS  Washington DC              60
25        AWS        Seattle              32
26        AWS         Austin               9
27        AWS        Detroit              59

In [19]:
get_number_of_jobs_T_L("Python", "New York")

('Python', 'New York', 143)

Let's call the function for Los Angeles and check if it is working.

In [20]:
get_number_of_jobs_T_L("Java", "Los Angeles")

('Java', 'Los Angeles', 64)

## Storing the results in an excel file

We call the API for all the given technologies above and write the results in an excel spreadsheet.

We create a python list of all locations for which you need to find the number of jobs postings.

In [8]:
locations = ['Los Angeles','New York','San Francisco','Washington DC','Seattle','Austin','Detroit']

We create a python list of all technologies for which you need to find the number of jobs postings.

In [21]:
technologies = ['Python', 'Java', 'SQL', 'AWS']

We import libraries required to create excel spreadsheet

In [22]:
from openpyxl import Workbook

We create a workbook and select the active worksheet

In [23]:
wb1 = Workbook()
ws1 = wb1.active

We find the number of jobs postings for each of the location in the above list and write the Location name and the number of jobs postings into the excel spreadsheet.

In [26]:
ws1.append(['Technology', 'Location', 'Number of Jobs'])

# Loop through all combinations
for tech in technologies:
    for loc in locations:
        result = get_number_of_jobs_T_L(tech, loc)
        ws1.append(result)

We save into an excel spreadsheet named 'job-by-technoogy-and-postings.xlsx'.

In [34]:
wb1.save("1.Jobs_By_Technology_And_Location.xlsx")

In the similar way, we can try for below given technologies and results can be stored in an excel sheet.

We collect the number of job postings for the following languages using the API:

C

C#

C++

Java

JavaScript

Python

Scala

Oracle

SQL Server

MySQL Server

PostgreSQL

MongoDB

In [35]:
def get_number_of_jobs_T(technology):
    response_api = requests.get(api_url)

    number_of_jobs = 0

    if response_api.ok:
        jobs = response_api.json()

        for job in jobs:
            key = job.get('Key Skills', '')

            if technology.lower() in key.lower():
                number_of_jobs += 1

    return technology, number_of_jobs

In [36]:
from openpyxl import Workbook

wb2 = Workbook()
ws2 = wb2.active

languages = ['C','C#','C++','Java','JavaScript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']

ws2.append(['Languages','Number of Jobs'])

for lang in languages:
    result = get_number_of_jobs_T(lang)
    ws2.append(result)

wb2.save('2.Job-Postings-Languages(Collected from API).xlsx')